<!-- 
 (C) Copyright IBM Corporation 2017.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<server description="Daytrader7 web server">
     <featureManager>
        <!-- <feature>microProfile-2.0</feature> -->
        <feature>ejb-3.2</feature>
        <feature>servlet-3.1</feature>
        <feature>jsf-2.2</feature>
        <feature>jpa-2.1</feature>
        <feature>mdb-3.2</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>cdi-1.2</feature>
        <feature>websocket-1.1</feature>
        <feature>concurrent-1.0</feature>
        <feature>jsonp-1.0</feature>
        <feature>beanValidation-1.1</feature>
	<feature>localConnector-1.0</feature>
	<feature>jaxrs-2.0</feature>
	<feature>mpConfig-1.2</feature>
	<feature>mpOpenAPI-1.0</feature>
    </featureManager>

       
         
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" >
	    <tcpOptions soReuseAddr="true"/> 
		<httpOptions maxKeepAliveRequests="-1"/>
	</httpEndpoint>

	<iiopEndpoint id="defaultIiopEndpoint" iiopPort="2809" iiopsPort="2810"/>

	<!--	<keyStore id="defaultKeyStore" password="Liberty" /> -->
    
    <!-- <webApplication id="daytrader" location="daytrader-ee7.ear" name="daytrader"/> -->
	<application id="daytrader" location="daytrader-ee7.ear" name="daytrader"/>

	<applicationManager autoExpand="true"/>
	    
	<connectionManager agedTimeout="-1" connectionTimeout="0" id="conMgr1" maxIdleTime="-1" maxPoolSize="100" minPoolSize="100" purgePolicy="FailingConnectionOnly" reapTime="-1"/> 

	<jdbcDriver id="DB2Driver" libraryRef="DB2JCC4Lib"/>
	<library id="DB2JCC4Lib" filesetRef="DB2Fileset" />
	<fileset id="DB2Fileset"  dir="${shared.resource.dir}/db2jars" includes="db2jcc4.jar"/>
	
	<authData id="TradeDataSourceAuthData" password="${env.DB_PASSWORD}" user="${env.DB_USER}"/>
	<authData id="TradeAdminAuthData" password="${env.DB_PASSWORD}" user="${env.DB_USER}"/>

	<dataSource jndiName="jdbc/TradeDataSource" jdbcDriverRef="DB2Driver" connectionManagerRef="conMgr1" id="DefaultDataSource" isolationLevel="TRANSACTION_READ_COMMITTED" statementCacheSize="60"> 
		<properties.db2.jcc databaseName="${env.DB_DATABASE}" serverName="${env.DB_HOST}" portNumber="${env.DB_PORT}" user="${env.DB_USER}" password="${env.DB_PASSWORD}" />
	</dataSource>

	<messagingEngine id="defaultME">
		<queue id="TradeBrokerQueue"/>
		<topicSpace id="TradeTopicSpace"/>
	</messagingEngine>

	<jmsQueueConnectionFactory connectionManagerRef="ConMgr3" jndiName="jms/TradeBrokerQCF">  
		<properties.wasJms/>
	</jmsQueueConnectionFactory> 
	<connectionManager id="ConMgr3" maxPoolSize="20"/>

	<jmsTopicConnectionFactory connectionManagerRef="ConMgr4" jndiName="jms/TradeStreamerTCF">
		<properties.wasJms/>
	</jmsTopicConnectionFactory>
	<connectionManager id="ConMgr4" maxPoolSize="20"/>

	<jmsQueue id="jms/TradeBrokerQueue" jndiName="jms/TradeBrokerQueue">
		<properties.wasJms deliveryMode="NonPersistent" queueName="TradeBrokerQueue"/>
	</jmsQueue>

	<jmsTopic id="TradeStreamerTopic" jndiName="jms/TradeStreamerTopic">
		<properties.wasJms deliveryMode="NonPersistent" topicSpace="TradeTopicSpace"/>
	</jmsTopic>

	<jmsActivationSpec id="eis/TradeBrokerMDB">
		<properties.wasJms destinationRef="jms/TradeBrokerQueue"/>
	</jmsActivationSpec>

	<jmsActivationSpec id="eis/TradeStreamerMDB">
		<properties.wasJms destinationRef="TradeStreamerTopic" destinationType="javax.jms.Topic"/>
	</jmsActivationSpec>
</server>